.SignIn {
    width: 70%;
    height: 95vh;;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


.SignIn .helpText {
    color: #262626;
    opacity: 0.5;
}

.SignIn .title {
    color: #262626;
    
}